version: "3.8"

services:
  api:
    image: msithaba/credit-card-api:latest
    ports:
      - "3000:3000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  ui:
    image: msithaba/credit-card-ui:latest
    ports:
      - "80:8080"
